header{
  text-align: center;
  font-size: 15px;
  font-family: serif;
  font-style: italic;
  border: solid black;
  color: black;
}
body{background: #D8DBFF;
 
}
.hl{
  text-align: center;
  color: #09116E;
  font-family: monospace;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #FCFCFC;
}
table,th,td{
  border:2px solid black;
}